- content_for :head do
  = javascript_include_tag 'gears_init'

- title "Update Location"

- form_for Location.new do |f|
  = f.error_messages
  = hidden_field_tag :taxi_id, @taxi.id
  = hidden_field_tag :lat
  = hidden_field_tag :lon
  %p.message

%p
  = radio_button_tag :predefined_message, :value => "I'm on my way to the airport"
  I'm on my way to the airport
%p
  = radio_button_tag :predefined_message, :value => "I'm taking passengers to Baltimore"
  I'm taking passengers to Baltimore

%p
  = text_field_tag :message

