- title "Edit Taxi"

= render :partial => 'form'

- form_for Location.new do |f|
  = f.error_messages
  = hidden_field_tag :taxi_id, @taxi.id
  = hidden_field_tag :lat
  = hidden_field_tag :lon
  = f.submit 'Update Location'
  = image_tag 'spinner.gif', :class => 'spinner', :style => 'display:none;'
  %p.message
